<a href="https://colab.research.google.com/github/AtheerMalki/Module04_ML/blob/main/Model_Evaluation_ML3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
import pandas  as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import time
import datetime

df = pd.read_csv('https://raw.githubusercontent.com/daniel-dc-cd/data_science/master/module_4_ML/data/seattle_weather_1948-2017.csv')
df

             DATE  PRCP  TMAX  TMIN   RAIN
0      1948-01-01  0.47    51    42   True
1      1948-01-02  0.59    45    36   True
2      1948-01-03  0.42    45    35   True
3      1948-01-04  0.31    45    34   True
4      1948-01-05  0.17    45    32   True
...           ...   ...   ...   ...    ...
25546  2017-12-10  0.00    49    34  False
25547  2017-12-11  0.00    49    29  False
25548  2017-12-12  0.00    46    32  False
25549  2017-12-13  0.00    48    34  False
25550  2017-12-14  0.00    50    36  False

[25551 rows x 5 columns]

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25551 entries, 0 to 25550
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    25551 non-null  object
 1   PRCP    25548 non-null  float64
 2   TMAX    25551 non-null  int64
 3   TMIN    25551 non-null  int64
 4   RAIN    25548 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 998.2+ KB

In [88]:
# remove rows with null values
def RAIN_INSERTION(cols):
    RAIN=cols[0]
    if pd.isnull(RAIN):
        return 'False'
    else:
        return RAIN

def PRCP_INSERTION(col):
    PRCP=col[0]
    if pd.isnull(PRCP):
        return df['PRCP'].mean()
    else:
        return PRCP

In [89]:
df['RAIN']=df[['RAIN']].apply(RAIN_INSERTION,axis=1)
df['PRCP']=df[['PRCP']].apply(PRCP_INSERTION,axis=1)

In [90]:
#f = lambda x: 1 if x==True else 0
#df.applymap(f)

y = df['RAIN']
y=y.astype('str')
X = df.drop(['RAIN', 'DATE'], axis=1)

In [92]:
import sklearn.model_selection as model_selection
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, train_size=0.70,test_size=0.30, random_state=42)

In [93]:
 def pred_and_eval(X_train, X_test, y_train, y_test):
  
  from sklearn.linear_model import LogisticRegression
  from sklearn.metrics import classification_report, confusion_matrix
  lr = LogisticRegression()
  lr.fit(X_train,y_train)
  prediction = lr.predict(X_test)
  matrix = confusion_matrix(y_test,prediction)

  TP = matrix[0][0]
  FP = matrix[0][1]
  FN = matrix[1][0]
  TN = matrix[1][1]

  print("Accuracy: __ %1.3f" % ((TP+TN)/(TP+FP+FN+TN))) # (true positive + true negative)/ number of guesses
  print("Precision: %1.3f" % (TP/(TP+FP))) # (num true positive)/(num tru positive + num false positive)
  print("Recall: %1.3f" % (TP/(TP+FN))) # (num true positive)/(num tru positive + num false negative)
  print("Confusion matrix:\n", matrix)

  classification_report(y_test,prediction)

In [94]:
pred_and_eval(X_train, X_test, y_train, y_test)

Accuracy: __ 0.925
Precision: 0.996
Recall: 0.887
Confusion matrix:
 [[4379   19]
 [ 557 2711]]